{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="flex items-center mb-4">
        {% if universidade.logo %}
        <img src="{{ universidade.logo }}" alt="Logo {{ universidade.nome }}" class="w-12 mr-4 rounded">
        {% endif %}
        <h1 class="text-4xl font-bold">{{ universidade.nome }}</h1>
    </div>
    <p class="text-lg text-gray-700 mb-8">{{universidade.nome}}</p>

    <div class="bg-white shadow-md rounded-lg p-6 mb-8">
        <h2 class="text-2xl font-semibold mb-4">Informações da Universidade</h2>
        <p class="mb-2"><strong>Nome:</strong> {{universidade.nome}}</p>
        <p class="mb-2"><strong>Localização:</strong> {{universidade.localizacao}}</p>
        <p class="mb-2"><strong>Fundação:</strong> {{universidade.fundacao}}</p>
        <p class="mb-2"><strong>Descrição:</strong> {{universidade.descricao}}</p>
        <p class="mb-2"><strong>Link Oficial:</strong> <a href="{{universidade.link_oficial}}" class="text-blue-600 hover:text-blue-800">{{universidade.link_oficial}}</a></p>

    </div>

    <div class="bg-white shadow-md rounded-lg p-6 mb-8">
        <h2 class="text-2xl font-semibold mb-4">Vestibulares</h2>
        {% if vestibulares %}
            <ul class="space-y-4">
                {% for vest in vestibulares %}
                <li class="border border-gray-200 rounded p-4">
                    <h3 class="text-lg font-semibold">{{ vest.nome }}</h3>
                    <p><strong>Datas:</strong> {{ vest.datas }}</p>
                    <p><strong>Descrição:</strong> {{ vest.descricao }}</p>
                    {% if vest.link %}
                    <p><strong>Link:</strong> <a href="{{ vest.link }}" target="_blank" class="text-blue-600 hover:text-blue-800">Acesse aqui</a></p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>É só pelo ENEM/SISU</p>
        {% endif %}
    </div>

    {% if universidade.foto %}
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl font-semibold mb-4">Foto da Faculdade</h2>
        <img src="{{ universidade.foto }}" alt="Foto da {{ universidade.nome }}" class="w-full rounded">
    </div>
    {% endif %}
</div>
{% endblock %}
 